<!DOCTYPE html>
<html>
<head>
  <title>Travel Tales</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<nav>
  <% if @current_user %>
        <%= link_to "Welcome, #{@current_user.username}!", user_path(@current_user) %>
        <%= link_to "Sign Out", session_path, method: :delete %>
      <% end %>
</nav>
  <% flash.each do |type, message| %>
    <p class="<%= type %>"><%= message %></p>
  <% end %>

<%= yield %>

</body>
</html>
