<h2><%= @thought.title %></h2>
<h4><%= @thought.author %></h4>
<h4><%= @thought.body %></h4>

<p><%= link_to "Edit thought", edit_post_comment_path(@location, @thought) %></p>
<p><%= link_to "All thoughts", thoughts_path %></p>
